{% extends 'common/base.html' %}
{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% block exta_css %}
  <link rel="stylesheet" href="{% static 'css/emp.css' %}">
  {% endblock %}

  {% block title %}Home Page{% endblock %}
</head>

<body>

  {% block content %}

  {% include 'common/messages.html' %}

  <div id="employee-table-content" >
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Salary</th>
          <th scope="col">Department</th>
          <th scope="col">Is working</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>

        {% for emp in employees %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ emp.name }}</td>
          <td>{{ emp.email }}</td>
          <td>{{ emp.salary }}</td>
          <td>{{ emp.department.name }}</td>
          <td>
            {% if emp.is_working %}
            <i class="fa-solid fa-check text-success"></i>
            {% else %}
            <i class="fa-solid fa-xmark text-danger"></i>
            {% endif %}
          </td>
          <td>
            <div style="display: flex;gap: 15px;">
              <a href="#" class="btn-manage-emp" onclick="showUpdateEmp('{{ emp.id }}')"><i class="fa-solid fa-pen"></i>
              </a>
              <a href="{% url 'delete_employee' emp.id %}" class="btn-manage-emp" onclick="deleteEmp('{{ emp.id }}')" >
                <i class="fa-solid fa-trash"></i></a>
            </div>
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>

  <div class="modal" tabindex="-1" role="dialog" id="update-emp-modal">
    <div id="update-modal-dialog" class="modal-dialog" role="document" style="width: 700px !important;max-width: none !important;">
      
    </div>
  </div>

  {% endblock %}


  {% block extra_js %}
  <script>

    function showUpdateEmp(empId) {

      let url = "{% url 'show_update_emp' 0 %}".replace("0", empId)
      $.ajax({
        url: url,
        method: 'GET',
        success: function (response) {
          let result = $(response).filter('#update-modal-content').html();
          $('#update-modal-dialog').html(result);
          $('#update-emp-modal').modal('show');
        },
        beforeSend: function () {
          $("#app-loader").removeClass("d-none").addClass("d-flex");
        },
        complete: function () {
          $("#app-loader").removeClass("d-flex").addClass("d-none");
        }
      });
    }

    function deleteEmp(id){
      let url = "{% url 'delete_employee' 0 %}".replace("0", id)
      $.ajax({
        url: url,
        type: 'POST',
        success: function(response){
            let result = $(response).find('#employee-table-content').html();
            $('#employee-table-content').html(result)
        },
        beforeSend: function () {
          $("#app-loader").removeClass("d-none").addClass("d-flex");
        },
        complete: function () {
          $("#app-loader").removeClass("d-flex").addClass("d-none");
        }
      })
    }

  </script>
  {% endblock %}

</body>

</html>