<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Update Employee</title>

</head>

<body>

  <div id="update-modal-content">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Update Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="col-md-10 offset-1">
          <form action="{% url 'update_employee' employee.id %}" method="post" id="update-form">

            {% csrf_token %}

            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" name="name" value="{{ employee.name }}">
            </div>

            <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" name="email" value="{{ employee.email }}">
            </div>

            <div class="form-group">
              <label>Salary</label>
              <input type="number" class="form-control" name="salary" value="{{ employee.salary }}">
            </div>

            <div class="form-group">
              <label>Department</label>
              <select name="department" class="form-control">
                {% for dept in departments %}
                <option value="{{dept.id}}" {% if dept.id == employee.department.id %} selected {% endif %}>
                  {{dept.name}}
                </option>
                {% endfor %}
              </select>
            </div>

            <div class="form-check">
              <input type="checkbox" class="form-check-input" name="isworking" {% if employee.is_working %} checked
                {%endif %}>
              <label class="form-check-label">Is Working?</label>
            </div>
          </form>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="updateEmp('{{employee.id}}')">Update</button>
      </div>

    </div>
    <script>
      function updateEmp(empId) {
        let form = $("#update-form");
        $.ajax({
          url: form.attr("action"),
          type: form.attr("method"),
          data: form.serialize(),
          success: function (response) {
            let result = $(response).find('#employee-table-content').html();
            $('#employee-table-content').html(result)
          },
          beforeSend: function () {
            $("#app-loader").removeClass("d-none").addClass("d-flex");
          },
          complete: function () {
            $("#app-loader").removeClass("d-flex").addClass("d-none");
            $('#update-emp-modal').modal('hide');
          }
        });
      }
    </script>
  </div>

</body>

</html>