<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Employee Management{% endblock %}</title>
    {% block exta_css %} {% endblock%}
    {% include 'common/bootstrap-css.html' %}
</head>

<body>
    
    {% include 'common/navbar.html' %}

    <div id="main-content">

        {% block content %}

        {% endblock %}

    </div>

    <div id="app-loader" class="d-none justify-content-center" >
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    {% block extra_js %}

    {% endblock %}

    {% include 'common/bootstrap-js.html' %}
</body>

</html>